name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Publish Linux
        run: dotnet publish -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true -o ./publish/linux-x64

      - name: Zip artifacts
        run: cd publish/linux-x64 && tar -czf ../../pport-linux-x64.tar.gz . && cd ../..

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            pport-linux-x64.tar.gz
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
